* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin-right: 2%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 145px;
    height: 20px;
    cursor: pointer;
    margin: 50px 45px;
    padding-left: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    padding-right: 20px;
    font-size: 1rem;
    color: #40434a;
    padding-top: 10px;
}

.btn {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 20px;
    padding: 15px 50px;
    border-color: red;
    cursor: pointer;
}

.bookmark {
    display: flex;
    gap: 15%;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 90px;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}

.bg-1 {
    height: 45%;
    width: 42%;
}

.btn2 {
    color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 10px 25px;
    border-color: rgb(76, 89, 205);
    cursor: pointer;
}

.btn3 {
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin: 20px;
    padding: 10px 25px;
    border-color: rgb(76, 89, 205);
    cursor: pointer;
}

.boomark-heading {
    font-size: 45px;
    padding-bottom: 8%;
}

.boomark-dis {
    font-size: 1rem;
}

.features {
    margin-top: 7%;
    margin-bottom: 10%;
    padding-left: 50px;
    padding-right: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features-title {
    padding-bottom: 20px;
    font-size: 30px;
}

.features-dis {
    font-size: 19px;
    opacity: 90%;
}

.bookmark-click {
    display: flex;
    padding-left: 50px;
    padding-right: 90px;
    justify-content: center;
    margin-top: 5%;
    gap: 15%;
    align-items: center;
}

.bg-2 {
    height: 45%;
    width: 35%;
}

.boomark-click-heading {
    font-size: 45px;
    padding-bottom: 5%;
}

.boomark-click-dis {
    font-size: 1.2rem;
}

.btn4 {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.Extension {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}

.chrome {
    background: rgb(255, 255, 255);
    height: 280px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(216, 216, 216), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.firefox {
    margin-top: 2%;
}

.operamini {
    margin-top: 4%;
}

.extension-logo {
    height: 75px;
    width: 75px;
}

.extension-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.extension-dis {
    opacity: 80%;
}

.btn5 {
    color: rgb(255, 255, 255);
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(76, 89, 205);
    cursor: pointer;
}

.dots {
    padding-top: 20px;
    width: 100%;
}

.question {
    margin-top: 10%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.que-title {
    font-size: 40px;
    padding-bottom: 15px;
}

.que-dis {
    font-size: 20px;
    opacity: 80%;
}

.btn8 {
    margin-top: 20px;
    padding: 10px 35px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(76, 89, 205);
}

.form {
    padding: 15px 50px;
    border-radius: 10px;
    margin-right: 8px;
    border: 3px solid rgb(212, 74, 74);
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    background-color: #ffffff;
}

.btn9 {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid rgb(212, 103, 103);
    cursor: pointer;
    border-radius: 10px;
}

.footer {
    background-color: rgb(85, 85, 209);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-dis {
    font-size: 18px;
    padding-bottom: 22px;
    color: #ffffff;
}

.footer-title {
    font-size: 25px;
    padding-bottom: 35px;
    color: #ffffff;
}

.end-footer {
    width: 100%;
    height: 120%;
    display: flex;
    align-items: center;
}

.logo1 {
    width: 145px;
    height: 20px;
    cursor: pointer;
    margin: 30px 0;
    padding-left: 20px;
}

.end-footer1 ul li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    color: #40434a;
    padding-top: 10px;
}

.end-footer1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    padding-bottom: 5px;
}